*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: black;
  text-decoration: none;
}
.section{
  padding: 20px;
}
.root{
  width:200px;
  height: 300px;
  background-color: gray;
  margin: 20px;
}
.divs{
  width:250px;
  height: 330px;
  position: relative;
  border: 1px solid;
  padding: 10px;
  display: flex;
  border-radius: 5px 5px 0 0;
  &:hover{
    .buttonDiv{
      opacity: 100;
    }
  }
}
.img{
  width:300px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.imgDiv{
  width:100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
}
.imgDiv img {
  width: 170px;
  cursor: pointer;
  transition: 0.5s;
  &:hover{
    transform: scale(1.1);
  }
}
.buttonDiv{
  position: absolute;
  top: 0;
  right: 0;
  padding: 3px;
  border-radius: 3px;
  opacity: 0;
  transition: 0.5s;
}
.buttonDiv button {
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(155, 21, 21);
  border: none;
  cursor: pointer;
  transition: 0.5s;
  color: white;
  font-size: 20px;
  margin-bottom: 5px;
  &:hover{
    background-color: rgba(155, 21, 21, 0.765);
  }
}
.icon{
  font-size: 20px;
  padding: 5px;
  background-color: rgb(210, 210, 210);
  display: flex;
  justify-content: center;
  align-items: center;
}
.box{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 15px;
  width: 100%;
}
.div{
  width: 200px;
}
.productDiv{
  height: 450px;
}
.sideBar{
  width:100%;
  background-color: white;
  display: flex;
  justify-content: center;
}
.shop{
  width: 50%;
  height: 60px;
  border-top: none;
  padding: 20px;
  display: flex;
  justify-content: space-around;
  background-color: white;
  position: absolute;
  top: 0;
  -webkit-box-shadow: 0px 0px 31px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 31px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 31px 0px rgba(0,0,0,0.75);
  background-color: rgba(128, 128, 128, 0.274);
}
header{
  width: 100%;
  padding: 15px;
  -webkit-box-shadow: 0px 0px 31px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 31px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 31px 0px rgba(0,0,0,0.75);
  margin-bottom: 30px;
  background-color: rgba(128, 128, 128, 0.274);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.ionIcon {
  width: 30px;
  position: relative;
}
.num{
  width: 25px;
  height: 25px;
  border-radius:50% ;
  position: absolute;
  bottom: 15px;
  left: 17px;
  background-color: rgb(154, 25, 25);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
.ionIcon ion-icon {
  font-size: 30px;
}
footer{
  display: flex;
  justify-content: center;
  -webkit-box-shadow: 0px 0px 31px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 31px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 31px 0px rgba(0,0,0,0.75);
  background-color: rgba(128, 128, 128, 0.274);
  padding: 20px;
  margin-top: 30px;
}
.shops{
  width: 300px;
  border: 1px solid;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 25px;
  margin-bottom: 50px;
}
.delet{
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  margin: 20px;
  background-color: rgb(154, 25, 25);
  border-radius: 50%;
  color: white;
  cursor: pointer;
  transition: 0.5s;
  &:hover{
    background-color: rgba(165, 42, 42, 0.766);
  }
}
.imgDiv img{
  width: 150px;
  display: flex;
  justify-content: center;
}
.roots{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  gap: 30px;
  flex-wrap: wrap;
  margin-top: 20px;
  position: relative;
}
.priceDiv{
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.title{
  margin-top: 15px;
  margin-bottom: 10px;
}
.Price{
  color: gray;
}
.plus-minus{
  width: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  border: 1px solid;
  font-size: 20px;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.027);
}
.minus{
  cursor: pointer;
}
.plus{
  cursor: pointer;
}
.finalPrice{
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 10px;
}
.total-clear{
  width: 300px;
  position: absolute;
  bottom: 0;
  left: 0;
  margin-left: 20px;
}
.clear{
  width: 30px;
  height: 30px;
  background-color:rgb(154, 25, 25) ;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.5s;
  &:hover{
    background-color: rgba(165, 42, 42, 0.702);
  }
}
header img {
  width: 60px;
  height: 60px;
  border-radius: 20px;
  cursor: pointer;
  object-fit: cover;
}